@import '../../theme.styl'

:host
    position: absolute
    top: 0
    left: 0
    z-index: 1
    width: 100%
    height: auto
    font-family: primaryFont
.toolbar-content
    height 52px
    line-height 52px
    padding-left 12px
    background color1
    box-shadow 1px 3px 4px 5px #0000004a

.toolbar-inner-content > span 
    cursor pointer
.toolbar-inner-content > a 
    text-decoration none
    color lightTextColor
    font-size 18px
    padding: 0 8px
.toolbar-inner-content
    max-width: 900px
    margin 0 auto
.arrowright
    color: lightTextColor
    position: relative;
    top: 3px;
.arrowright > svg
    width: 20px
    height: 20px
    color color3

.input-repo
    background color1
    display: inline-block;
    float: right;
    padding: 0 16px;

.personal-token-input input 
.input-repo input 
    background none
    border 1px solid color3
    border-radius: 4px
    outline none
    padding 8px 8px
    margin 0 4px
    color color4
    font-family: primaryFont

.personal-token-input
    padding 12px 0 18px 0
    display: flex;
.personal-token-input input 
    margin 0
    flex 1

#repolink
    width 192px
#personalApiToken
    width 100%

#github-star-link
    display: inline-block
    position: relative
    top: 5px
.rocket-icon--container
    text-align: center
    padding: 32px 0 24px 0
.rocket-icon
    font-size 64px
mwc-dialog
    font-family: primaryFont
    --mdc-theme-surface: color1
mwc-dialog div
    color lightTextColor
mwc-dialog div p
    font-size 14px


.support-disclaimer
.support-disclaimer p
    font-size 12px
    color gray
    line-height: 18px