@import '../../theme.styl'

:host
    position: absolute
    top: 0
    left: 0
    z-index: 1
    width: 100%
    height: auto
    font-family: primaryFont
.toolbar-content
    height 52px
    line-height 52px
    padding-left 12px
    background color1
    box-shadow 1px 3px 4px 5px #0000004a

.toolbar-inner-content > span 
    cursor pointer
.toolbar-inner-content > a 
    text-decoration none
    color lightTextColor
    font-size 18px
    padding: 0 8px
.toolbar-inner-content
    max-width: 900px
    margin 0 auto
.arrowright
    color: lightTextColor
    position: relative;
    top: 3px;
.arrowright > svg
    width: 20px
    height: 20px
    color color3

.input-repo
    background color1
    display: inline-block;
    float: right;
    padding: 0 16px;

.input-repo input 
    background none
    border 1px solid color3
    border-radius: 4px
    outline none
    padding 8px 8px
    margin 0 4px
    color color4
    font-family: primaryFont
#repolink
    width 192px
#personalApiToken
    color gray
    width 92px
.input-repo button
    background: color3
    color color1
    border none
    border-radius: 4px
    cursor: pointer
    font-weight: bold
    padding: 10px 16px
    font-size: 12px
    outline: none
#github-star-link
    display: inline-block
    position: relative
    top: 5px