@import '../../theme.styl'

:host
    position: absolute
    top: 0
    left: 0
    z-index: 1
    width: 100%
    height: 52px
.toolbar-content
    height 52px
    line-height 52px
    padding-left 12px
    background color1

.toolbar-content > span 
    cursor pointer
.toolbar-content > a 
    text-decoration none
    color lightTextColor
    font-size 18px
    padding: 0 8px

.arrowright
    color: lightTextColor
    position: relative;
    top: 3px;
.arrowright > svg
    width: 20px
    height: 20px
    color color3

.input-repo
    background color1
    padding: 20px 20px
    text-align: right

.input-repo input 
    background none
    border 1px solid color3
    border-radius: 4px
    outline none
    padding 8px 8px
    margin 0 4px
    color color4
.input-repo button
    background: color3
    color color1
    padding: 8px 16px
    font-size: 14px
    border none
    border-radius: 4px
    cursor: pointer
