@import '../../theme.styl'

:host([hidden])
    display: none

:host
    display inline-block
    width: 200px
    background: color2
    color color4
    box-shadow: 1px 2px 16px 5px #0000004d

.close-icon
    padding: 8px 20px
    text-align: right
.close-icon span 
    cursor pointer
    font-size: 24px
ul
    margin-top 0.5em
    padding 0px 0px 10px 0px
ul li
    list-style none
    padding 4px 0px 4px 32px
    font-size 14px
    cursor pointer
    transition: 0.3s
li:hover
    background color2
.title
    color color3
    font-size 16px
    margin: 8px
    padding 8px