
primaryColor = #0f202d
alertBackgroundColor = #2244dd88

lightTextColor = #fff
darkTextColor = #000

color1 = #2a223a
color2 = #a51570
color3 = #5dedf1
color4 = color3
color5 = linear-gradient(to bottom, #2a2139 75%, #34294f)

primaryFont = 'Fira Code', monospace !important;