@import '../../theme.styl'

pre
    // background-color: transparent !important
    // background-image: color5
    // background-color: black
    color #ccc
    padding: 20px 0px
    font-family: 'Fira Code', monospace !important;
    overflow-x: auto
    width: 100%
code
    font-family: 'Fira Code', monospace !important;
    line-height: 1.75
    font-size: 12px
